# React related
node_modules/
build/
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ASP.NET Core related
bin/
obj/
*.user
*.vs/
*.suo
*.userosscache
*.userprefs

# Visual Studio Code
.vscode/

# Others
*.log
*.lock.json
.idea/
*.swp
*.bak
*.tmp